@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.lightStyle {
  background-color: lightyellow;
  color: darkslategrey;
}

.darkStyle {
  background-color: darkslategrey;
  color: lightyellow;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
