@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

:root {
  --brand-dark: #2f4f4f;
  --brand-semi-dark: #558f8f;
  --brand-light: #ffffe0;
  --brand-contrast: #ffa500;
}

body {
  font-family: 'Roboto', sans-serif;
  color: lightyellow;
}

h1 {
  font-weight: bold;
}

/* Wrappers */
.wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
}

.info {
  margin-top: 3rem;
  padding: 2rem;
  background-color: var(--brand-semi-dark);
  border-radius: 0.5rem;
}

/* Dark & Light */
.light-style {
  background-color: var(--brand-light);
  /* color: darkslategrey; */
}

.light-style h1 {
  color: var(--brand-dark);
}

.dark-style {
  background-color: var(--brand-dark);
}

/* Navbar style */
.navbar {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  text-align: right;
}

.nav-btn {
  margin-left: auto;
}

/* General style */
.upper {
  text-transform: uppercase;
}

button {
  background-color: darkorange;
  color: lightyellow;
  size: 1.2rem;
  line-height: 1.2rem;
  vertical-align: middle;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.95);
  /* background-color: var(--brand-contrast);
  color: lightyellow; */
}

button:focus {
  outline: none;
}
